@media (min-width: 360px) and (max-width: 480px) {

  .main-preview .middle-wrapper .middle .prices-wrapper__title {
    margin-left: 30px;
  }
   .prices-wrapper {
    margin: 10px;
   }
  .main-preview .middle-wrapper .middle-title {
    text-align: center;
  }
  .main-preview .middle-wrapper .middle {
    margin: 20px auto;
    max-width: 360px;
    width: 100%;
    transform: translateY(-40px);
    margin-top: 200px;
  }
  .main-preview .middle-wrapper .middle-btn {
    margin: 0 auto 60px auto;
    max-width: 360px;
  }
    
    .main-preview .middle-wrapper .middle .prices-wrapper .prices-items .prices-item-first, .main-preview .middle-wrapper .middle .prices-wrapper .prices-items .prices-item-second, .main-preview .middle-wrapper .middle .prices-wrapper .prices-items .prices-item-third {
        padding: 5px;
       }
    .main-preview .middle-wrapper .middle .prices-wrapper .prices-items .prices-item-first .item-content__title, .main-preview .middle-wrapper .middle .prices-wrapper .prices-items .prices-item-second .item-content__title, .main-preview .middle-wrapper .middle .prices-wrapper .prices-items .prices-item-third .item-content__title {
        font-size: 13px;
       }
    .main-preview .middle-wrapper .middle-title {
        font-size: 40px;
    }
    .main-preview {
        background-position: center center;
    }
    .main-preview-bottom {
      display: none;
  }
  }

@media (min-width: 481px) and (max-width: 768px) { 
  .main-preview {
    background-position: center center;
}
  
  .menu__buttons {
    margin-left: 20px;
  }
  .main-preview .middle-wrapper .middle {
    margin: 200px 20px 50px 50px;
  }
  
  .main-preview .middle-wrapper .middle-title {
    font-size: 60px;
  }
   
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-preview .middle-wrapper .middle {
    margin: 200px 20px 50px 50px;
  }
  .main-preview {
    background-position: center;
  }
  .menu__buttons {
    margin-left: 58px;
  }
  .main-preview .middle-wrapper .middle-title {
    font-size: 70px;
  }
  .main-preview {
    background-position: center;
  }


}
@media (min-width: 991px) and (max-width: 1200px) {
  .main-preview .middle-wrapper .middle {
    margin-top: 200px
  }
  .main-preview {
    background-position: center center;
}
  .header.preview.fix._lp .header__content._container {
    max-width: 970px;
    margin: 0;
    margin-left: 15px;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
  }
  .menu__list {
    gap: 35px
  }
  .menu__btn:first-child {
    transform:translateX(25px)
  }
}
@media (min-width: 1200px) {
  .main-preview .middle-wrapper .middle {
    margin-top: 200px;
  }
}
@media (min-width: 360px) and (max-width: 991px) {
     .header.preview {
           background: #00000074;   
         /* background: #000000; */
    }
    .header__burger {
        width: 55px;
        height: 55px;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        transition: all .5s ease;
        margin: 1em;
        }
        .header__burger label {
          transition: all .5s ease;
        }
        .nav__check span {
          display: block;
          height: 3px;
          border-radius: 2px;
          background: #fff;
          margin: 10px;
          transition: all .55s cubic-bezier(0.075, 0.82, 0.165, 1);
          width: 40px;
        }
        
        .menu__body {
          position: absolute;
          gap: 20px;
          width: 100%;  
          background: linear-gradient(to bottom, #000000, #000000);   
          height: 0;
          transition: all 0.5s ease-in-out;
           top: 130px; 
          left: 0;
          overflow: hidden;
        }
        .menu__list {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 50px;
        }
        
        .checked__burger {
          height: 100vh;
        }   /*burger*/
        .upper__stick {
            transform: translateY(13px) rotate(45deg);
         }
          .middle__stick {
           opacity: 0;
         }
         .button__stick {
         transform: translateY(-13px) rotate(-45deg);
         } 
         .menu__body:nth-of-type(2) ul li:last-child {
            transform: translateX(-5px);
           }
           .menu__list li:nth-child(n + 2) {
            transform: translateX(23px);
           }

    }

    @media (min-width: 240px)  and (max-width: 5120px) {
        .menu__body:nth-of-type(1) {
            display: none;
        }
    }

    @media (min-width: 480px) and (max-width: 530px) {
      .main-preview-bottom {
        display: none;
    }
    .main-preview .middle-wrapper .middle {
      margin: 200px 20px 50px 40px;
    }
     .menu__buttons {
      margin-left: 10px;
     }
    }