@media (min-width: 360px) and (max-width: 480px) {
  .triangle {
    left: 40%;
    top: 323px
}
.triangle2 {
    left: 39.5%;
    top: 460px;
} 
  .menu__body {
    top: 130px;
}
  .main-preview .middle-wrapper .middle .prices-wrapper__title {
    margin-left: 30px;
  }
   .prices-wrapper {
    margin: 10px;
   }
  .main-preview .middle-wrapper .middle-title {
    text-align: center;
  }
  .main-preview .middle-wrapper .middle {
    margin: 20px auto;
    max-width: 360px;
    width: 100%;
    transform: translateY(-40px);
    margin-top: 200px;
  }
  .main-preview .middle-wrapper .middle-btn {
    margin: 0 auto 60px auto;
    max-width: 360px;
  }
    
    .main-preview .middle-wrapper .middle .prices-wrapper .prices-items .prices-item-first, .main-preview .middle-wrapper .middle .prices-wrapper .prices-items .prices-item-second, .main-preview .middle-wrapper .middle .prices-wrapper .prices-items .prices-item-third {
        padding: 5px;
       }
    .main-preview .middle-wrapper .middle .prices-wrapper .prices-items .prices-item-first .item-content__title, .main-preview .middle-wrapper .middle .prices-wrapper .prices-items .prices-item-second .item-content__title, .main-preview .middle-wrapper .middle .prices-wrapper .prices-items .prices-item-third .item-content__title {
        font-size: 13px;
       }
    .main-preview .middle-wrapper .middle-title {
        font-size: 40px;
    }
    .main-preview {
        background-position: center center;
    }
    .main-preview-bottom {
      display: none;
  }
  }

@media (min-width: 481px) and (max-width: 768px) { 
  .triangle {
    left: 44%;
    top: 323px
}
.triangle2 {
    left: 43.5%;
    top: 460px
}
  .menu__body {
    top: 130px;
}
  .main-preview {
    background-position: center center;
}
  
  .menu__buttons {
    margin-left: 20px;
  }
  .main-preview .middle-wrapper .middle {
    margin: 200px 20px 50px 50px;
  }
  
  .main-preview .middle-wrapper .middle-title {
    font-size: 60px;
  }
   
}
@media (min-width: 768px) and (max-width: 991px) {
  .triangle {
    left: 45.2%;
    top: 323px
}
.triangle2 {
    left: 44.9%;
    top: 460px
}
  .menu__body {
    top: 130px
}
  .main-preview .middle-wrapper .middle {
    margin: 200px 20px 50px 50px;
  }
  .main-preview {
    background-position: center;
  }
  .menu__buttons {
    margin-left: 58px;
  }
  .main-preview .middle-wrapper .middle-title {
    font-size: 70px;
  }
  .main-preview {
    background-position: center;
  }


}
@media (min-width: 991px) and (max-width: 1200px) {
  .main-preview .middle-wrapper .middle {
    margin-top: 200px
  }
  .main-preview {
    background-position: center center;
}
  .header.preview.fix._lp .header__content._container {
    max-width: 970px;
    margin: 0;
    margin-left: 15px;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
  }
  .menu__list {
    gap: 35px
  }
  .menu__btn:first-child {
    transform:translateX(25px)
  }
}
@media (min-width: 1200px) {
  .main-preview .middle-wrapper .middle {
    margin-top: 200px;
  }
}
@media (min-width: 360px) and (max-width: 991px) {
    .header.preview {
           background: #00000074;
    }
    .header__burger {
      width: 55px;
      height: 55px;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      transition: all .5s ease;
      margin: 1em;
      }
      .header__burger label {
        transition: all .5s ease;
      }
      .nav__check span {
        display: block;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        margin: 10px;
        transition: all .55s cubic-bezier(0.075, 0.82, 0.165, 1);
        width: 40px;
      }
      
      .menu__body {
        position: absolute;
        gap: 20px;
        width: 100%;  
         background: linear-gradient(to bottom, #000000, #000000);    
        height: 0;
        transition: all 0.5s ease-in-out;
        left: 0;
        overflow: hidden;
      }
      .menu__list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 50px;
      }
      
      .checked__burger {
        height: 100vh;
      }   /*burger*/
       .upper__stick {
          transform: translateY(13px) rotate(45deg);
       }
        .middle__stick {
         opacity: 0;
       }
       .button__stick {
       transform: translateY(-13px) rotate(-45deg);
       } 
         
          .firstUl > li:nth-of-type(1) {
          transform: translateX(-10px);
         }
         .menu__item:not(:last-child) {
          margin: 0 auto;
         }
        
      .fourth__li__big {
          transform: translate(0, 210px);
          transition: all .5s ease;
          
      }
      .fifth__li__big {
          transform: translate(0, 190px);
          transition: all .5s ease;
          
      }
      .sixth__li__big {
          transform: translate(0, 185px);
          transition: all .5s ease;
      }
      .sixth__li__about {
              transform: translate(0, 40px);
          
      }
      .menu__sub-item:not(:last-child) {
          border: none
      }
      .menu__sub-item {
          padding: 0;
      }
       .menu__sub-list {
          display: flex;
          flex-direction: column;
          gap: 10px;
          border: none;
          background: linear-gradient(to bottom, #000000, #000000);
       
      }
      .visible__sub {
              display: flex;
              flex-direction: column;
              top:0;
              gap: 15px;
              pointer-events: all;
              opacity: 1;
              visibility: visible;
              background: none;
              border: none;
              margin: 0 auto;
              transition: all .5s ease;
             
      }
      .menu__item:hover .menu__sub-list {
          margin: 0 auto;
          top: 20px;
      }
     
      .menu__sub-link {
          color: #fff;
          font-weight: bolder;
      }
      .triangle {
          position: absolute;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 8px solid #fff; 
          margin-left: 5px; 
          transform: rotate(90deg) translateY(-110px); 
          transition: all .2s ease-in-out;  
          visibility: hidden;
    
      }
     
      .triangle2 {
          position: absolute;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 8px solid #fff; 
          margin-left: 5px; 
          transform: rotate(90deg) translateY(-110px); 
          transition: all .2s ease-in-out;  
          visibility: hidden;
          
      }
      .triangle__hidden {
          visibility: visible;
      }
      .triangle2__transformed-big {
          transform: rotate(90deg) translate(190px, -110px);
      }
      .triangle2__clicked-both {
          transform: translate(0, 230px);;
      }
      .firstUl > li {
          transition: all .2s ease-in-out;
      }
      .menu__sub-list::before {
          display: none;
      }
      .menu__link {
          font-size: 18px;
      }
      .menu__sub-item {
          margin: 0 auto;
      }
      .firstUl > li:nth-of-type(5) .menu__sub-list {
          top: 20px;
      }


    }

    @media (min-width: 480px) and (max-width: 530px) {
      .main-preview-bottom {
        display: none;
    }
    .main-preview .middle-wrapper .middle {
      margin: 200px 20px 50px 40px;
    }
     .menu__buttons {
      margin-left: 10px;
     }
    }
    @media (min-width: 1200px) {  
      .menu__buttons {
        position: absolute;
        right: 1%;
      }   
     .firstUl > li:nth-child(1) {
      position: relative;
      left: 0%;
     }
     .firstUl > li:nth-child(2) {
      position: absolute;
      left: 30%;
     }
     .firstUl > li:nth-child(3) {
      position: absolute;
      left: 40%;
     }
     .firstUl > li:nth-child(4) {
      position: absolute;
      left: 50%;
     }
     .firstUl > li:nth-child(5) {
      position: absolute;
      left: 60%;
     }
     .firstUl > li:last-child {
      position: absolute;
      left: 70%;
     }
    }
  